.new_participant
  = simple_form_for @participant do |f|
    .errors
      - if @messages.present?
        - @messages.each do |msg|
          %p= msg.last
    .col-md-12
      .styled_input.participant_surname{class: (@messages.present? && @messages[:participant_surname]) ? 'error_field' : '' }
        %span.glyphicon.glyphicon-user
        = f.input :surname, placeholder: 'Фамилия', label: false, require: true
      .styled_input.participant_name{class: (@messages.present? && @messages[:participant_name]) ? 'error_field' : '' }
        %span.glyphicon.glyphicon-user
        = f.input :name, placeholder: 'Имя', label: false
      .styled_input.participant_thirdname{class: (@messages.present? && @messages[:participant_thirdname]) ? 'error_field' : '' }
        %span.glyphicon.glyphicon-user
        = f.input :thirdname, placeholder: 'Отчество', label: false
      .styled_input.participant_email{class: (@messages.present? && @messages[:participant_email]) ? 'error_field' : '' }
        %span.glyphicon.glyphicon-envelope
        = f.input :email, placeholder: 'E-mail', label: false
      .styled_input.participant_phone{class: (@messages.present? && @messages[:participant_phone]) ? 'error_field' : '' }
        %span.glyphicon.glyphicon-earphone
        = f.input :phone, placeholder: 'Телефон', label: false
      .form-group.text-center.participant_birhday{class: (@messages.present? && @messages[:participant_birthday]) ? 'error_field' : '' }
        = f.input :birthday, label: 'Дата рождения:', order: [:day, :month, :year], start_year: Date.today.year - 90, end_year: Date.today.year - 17, input_html: {class: 'form-control'}
    .anketa_form
      .input.participant_drinking_place{class: (@messages.present? && @messages[:participant_drinking_place]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Где Вы пьете нашу воду?
        .col-md-6
          %input#drinking1.custome_checkbox{name: 'participant[drinking_place][]', type: 'checkbox', value: 'Заказываю домой', checked: (params[:home].present? || @params[:drinking_place].include?('Заказываю домой') ? 'checked' : nil) }
          %label.checkbox{for: 'drinking1'}
            Заказываю домой
          %input#drinking2.custome_checkbox{name: 'participant[drinking_place][]', type: 'checkbox', value: 'Покупаю в магазине', checked: (params[:shop].present? || @params[:drinking_place].include?('Покупаю в магазине') ? 'checked' : nil) }
          %label.checkbox{for: 'drinking2'}
            Покупаю в магазине
          %input#drinking3.custome_checkbox{name: 'participant[drinking_place][]', type: 'checkbox', value: 'Пью в офисе', checked: (params[:office].present? || @params[:drinking_place].include?('Пью в офисе') ? 'checked' : nil) }
          %label.checkbox{for: 'drinking3'}
            Пью в офисе

      .input.participant_reason{class: (@messages.present? && @messages[:participant_reason]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Почему Вы пьете воду Прима Аква?
        .col-md-6
          %input#reason1.custome_checkbox{name: 'participant[reason][]', type: 'checkbox', value: 'вода Прима Аква полезная для здоровья, снабжает организм нужными минералами и микроэлементами', checked: (@params[:reason].to_s.include?('вода Прима Аква полезная для здоровья, снабжает организм нужными минералами и микроэлементами') ? 'checked' : nil) }
          %label.checkbox{for: 'reason1'}
            вода Прима Аква полезная для здоровья, снабжает организм нужными минералами и микроэлементами
          %input#reason2.custome_checkbox{name: 'participant[reason][]', type: 'checkbox', value: 'качество воды Прима Аква не зависит от состояния городских водопроводных труб, потому что она разливается в экологически чистом районе Ленинградской области', checked: (@params[:reason].to_s.include?('качество воды Прима Аква не зависит от состояния городских водопроводных труб, потому что она разливается в экологически чистом районе Ленинградской области') ? 'checked' : nil) }
          %label.checkbox{for: 'reason2'}
            качество воды Прима Аква не зависит от состояния городских водопроводных труб, потому что она разливается в экологически чистом районе Ленинградской области
          %input#reason3.custome_checkbox{name: 'participant[reason][]', type: 'checkbox', value: 'мне важно, что качество воды Прима Аква подтверждено государственными сертификатами качества и международным сертификатом ISO 9001:2011', checked: (@params[:reason].to_s.include?('мне важно, что качество воды Прима Аква подтверждено государственными сертификатами качества и международным сертификатом ISO 9001:2011') ? 'checked' : nil) }
          %label.checkbox{for: 'reason3'}
            мне важно, что качество воды Прима Аква подтверждено государственными сертификатами качества и международным сертификатом ISO 9001:2011
          %input#reason4.custome_checkbox{name: 'participant[reason][]', type: 'checkbox', value: 'Мне нравится вкус природной артезианской воды, она идеально подходит для приготовления блюд и напитков', checked: (@params[:reason].to_s.include?('Мне нравится вкус природной артезианской воды, она идеально подходит для приготовления блюд и напитков') ? 'checked' : nil) }
          %label.checkbox{for: 'reason4'}
            Мне нравится вкус природной артезианской воды, она идеально подходит для приготовления блюд и напитков
          %input.with_black_border{name: 'participant[reason][]', placeholder: 'Другое...', value: (@params[:reason].blank? || 'вода Прима Аква полезная для здоровья, снабжает организм нужными минералами и микроэлементами качество воды Прима Аква не зависит от состояния городских водопроводных труб, потому что она разливается в экологически чистом районе Ленинградской области мне важно, что качество воды Прима Аква подтверждено государственными сертификатами качества и международным сертификатом ISO 9001:2011 Мне нравится вкус природной артезианской воды, она идеально подходит для приготовления блюд и напитков'.include?(val5 = @params[:reason].to_s.split(' | ').last)) ? nil : val5 }

      .input.participant_source_info{class: (@messages.present? && @messages[:participant_source_info]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Откуда Вы узнали о нашей компании?
        .col-md-6
          %input#info1.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'Интернет', checked: (@params[:source_info].to_s.include?('Интернет') ? 'checked' : nil) }
          %label.checkbox{for: 'info1'}
            Интернет
          %input#info2.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'Рекомендации друзей', checked: (@params[:source_info].to_s.include?('Рекомендации друзей') ? 'checked' : nil) }
          %label.checkbox{for: 'info2'}
            Рекомендации друзей
          %input#info3.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'Увидел в магазине', checked: (@params[:source_info].to_s.include?('Увидел в магазине') ? 'checked' : nil) }
          %label.checkbox{for: 'info3'}
            Увидел в магазине
          %input#info4.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'Увидел машину с логотипом компании', checked: (@params[:source_info].to_s.include?('Увидел машину с логотипом компании') ? 'checked' : nil) }
          %label.checkbox{for: 'info4'}
            Увидел машину с логотипом компании
          %input.with_black_border{name: 'participant[source_info][]', placeholder: 'Другое...', value: (@params[:source_info].blank? || 'Увидел машину с логотипом компании Увидел в магазине Рекомендации друзей Интернет'.include?(val = @params[:source_info].to_s.split(' | ').last)) ? nil : val }

      .input.participant_time_using{class: (@messages.present? && @messages[:participant_time_using]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Как долго Вы являетесь клиентом нашей компании?
        .col-md-6
          %input#time_using1.custome_checkbox{name: 'participant[time_using][]', type: 'radio', value: 'С того момента, как узнал об акции', checked: (@params[:time_using].to_s.include?('С того момента, как узнал об акции') ? 'checked' : nil) }
          %label.checkbox{for: 'time_using1'}
            С того момента, как узнал об акции
          %input#time_using2.custome_checkbox{name: 'participant[time_using][]', type: 'radio', value: 'Менее полугода', checked: (@params[:time_using].to_s.include?('Менее полугода') ? 'checked' : nil) }
          %label.checkbox{for: 'time_using2'}
            Менее полугода
          %input#time_using3.custome_checkbox{name: 'participant[time_using][]', type: 'radio', value: 'От полугода до года', checked: (@params[:time_using].to_s.include?('От полугода до года') ? 'checked' : nil) }
          %label.checkbox{for: 'time_using3'}
            От полугода до года
          %input#time_using4.custome_checkbox{name: 'participant[time_using][]', type: 'radio', value: 'Более года', checked: (@params[:time_using].to_s.include?('Более года') ? 'checked' : nil) }
          %label.checkbox{for: 'time_using4'}
            Более года
          %input#time_using5.custome_checkbox{name: 'participant[time_using][]', type: 'radio', value: 'Более 2х лет', checked: (@params[:time_using].to_s.include?('Более 2х лет') ? 'checked' : nil) }
          %label.checkbox{for: 'time_using5'}
            Более 2х лет

      .input.participant_important_thing{class: (@messages.present? && @messages[:participant_important_thing]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Что для Вас важно при выборе воды?
        .col-md-6
          %input#important_thing1.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Цена', checked: (@params[:important_thing].to_s.include?('Цена') ? 'checked' : nil) }
          %label.checkbox{for: 'important_thing1'}
            Цена
          %input#important_thing2.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Качество воды', checked: (@params[:important_thing].to_s.include?('Качество воды') ? 'checked' : nil) }
          %label.checkbox{for: 'important_thing2'}
            Качество воды
          %input#important_thing3.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Вкус', checked: (@params[:important_thing].to_s.include?('Вкус') ? 'checked' : nil) }
          %label.checkbox{for: 'important_thing3'}
            Вкус
          %input#important_thing4.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Время доставки', checked: (@params[:important_thing].to_s.include?('Время доставки') ? 'checked' : nil) }
          %label.checkbox{for: 'important_thing4'}
            Время доставки
          %input#important_thing5.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Уровень сервиса', checked: (@params[:important_thing].to_s.include?('Уровень сервиса') ? 'checked' : nil) }
          %label.checkbox{for: 'important_thing5'}
            Уровень сервиса
          %input.with_black_border{name: 'participant[important_thing][]', placeholder: 'Другое...', value: (@params[:important_thing].blank? || 'Уровень сервиса Время доставки Вкус Качество воды Цена'.include?(val2 = @params[:important_thing].to_s.split(' | ').last)) ? nil : val2 }

      .input.participant_accessories{class: (@messages.present? && @messages[:participant_accessories]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Что бы Вам хотелось заказывать вместе с водой?
        .col-md-6
          %input#accessories1.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Все для чая и кофе', checked: (@params[:accessories].to_s.include?('Все для чая и кофе') ? 'checked' : nil) }
          %label.checkbox{for: 'accessories1'}
            Все для чая и кофе
          %input#accessories2.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Доставка еды из ресторанов', checked: (@params[:accessories].to_s.include?('Доставка еды из ресторанов') ? 'checked' : nil) }
          %label.checkbox{for: 'accessories2'}
            Доставка еды из ресторанов
          %input#accessories3.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Доставка продуктов питания из магазинов', checked: (@params[:accessories].to_s.include?('Доставка продуктов питания из магазинов') ? 'checked' : nil) }
          %label.checkbox{for: 'accessories3'}
            Доставка продуктов питания из магазинов
          %input#accessories4.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Хоз. Товары, концелярия и др.', checked: (@params[:accessories].to_s.include?('Хоз. Товары, концелярия и др.') ? 'checked' : nil) }
          %label.checkbox{for: 'accessories4'}
            Хоз. Товары, концелярия и др.
          %input#accessories5.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Детское питание', checked: (@params[:accessories].to_s.include?('Детское питание') ? 'checked' : nil) }
          %label.checkbox{for: 'accessories5'}
            Детское питание
          %input#accessories6.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Корма для животных', checked: (@params[:accessories].to_s.include?('Корма для животных') ? 'checked' : nil) }
          %label.checkbox{for: 'accessories6'}
            Корма для животных
          %input.with_black_border{name: 'participant[accessories][]', placeholder: 'Другое...', value: (@params[:accessories].blank? || 'Все для чая и кофе Доставка еды из ресторанов Доставка продуктов питания из магазинов Хоз. Товары, концелярия и др. Детское питание Корма для животных'.include?(val3 = @params[:accessories].to_s.split(' | ').last)) ? nil : val3 }

      .input.participant_improvements{class: (@messages.present? && @messages[:participant_improvements]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Чтобы Вы хотели, чтобы мы улучшили в нашем сервисе?
        .col-md-6
          %input#improvements1.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'сократили временной интервал ожидания доставки', checked: (@params[:improvements].to_s.include?('сократили временной интервал ожидания доставки') ? 'checked' : nil) }
          %label.checkbox{for: 'improvements1'}
            сократили временной интервал ожидания доставки
          %input#improvements2.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'сделали экспресс доставку за 3 часа с момента заказа', checked: (@params[:improvements].to_s.include?('сделали экспресс доставку за 3 часа с момента заказа') ? 'checked' : nil) }
          %label.checkbox{for: 'improvements2'}
            сделали экспресс доставку за 3 часа с момента заказа
          %input#improvements3.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'сделали заказ по телефону удобнее и быстрее', checked: (@params[:improvements].to_s.include?('сделали заказ по телефону удобнее и быстрее') ? 'checked' : nil) }
          %label.checkbox{for: 'improvements3'}
            сделали заказ по телефону удобнее и быстрее
          %input#improvements4.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'ввели новые формы оплаты, в т.ч. кредитные карты', checked: (@params[:improvements].to_s.include?('ввели новые формы оплаты, в т.ч. кредитные карты') ? 'checked' : nil) }
          %label.checkbox{for: 'improvements4'}
            ввели новые формы оплаты, в т.ч. кредитные карты
          %input#improvements5.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'разработали мобильное приложение', checked: (@params[:improvements].to_s.include?('разработали мобильное приложение') ? 'checked' : nil) }
          %label.checkbox{for: 'improvements5'}
            разработали мобильное приложение
          %input.with_black_border{name: 'participant[improvements][]', placeholder: 'Другое...', value: (@params[:improvements].blank? || 'сократили временной интервал ожидания доставки сделали экспресс доставку за 3 часа с момента заказа сделали заказ по телефону удобнее и быстрее ввели новые формы оплаты, в т.ч. кредитные карты разработали мобильное приложение'.include?(val4 = @params[:improvements].to_s.split(' | ').last)) ? nil : val4 }

      .input.participant_wish
        .col-md-6
          %label.control-label.anketa_form__label
            Чтобы Вы хотели, чтобы мы улучшили в нашем сервисе?
        .col-md-6
          %textarea.wish_text{name: 'participant[wish][]', placeholder: 'Ваши пожелания...', type: 'text' }
            = @params[:wish]

      .input.participant_picture
        = f.input :picture, label: 'Прима Аква в Вашей жизни. ( Размести фото с продукцией Прима Аква в офисе или дома )'

      .clearfix
      .anketa_form__prise-agreement{class: (@messages.present? && @messages[:participant_bolgary]) ? 'error_prise' : '' }
        .anketa_form__prise-agreement-content
          .anketa_form__prise-agreement-content__text
            Суперприз - поездка на море с семьей в Болгарию!
          .anketa_form__prise-agreement-content__question
            Хотели бы Вы принять участие в розыгрыше главного приза?
          .anketa_form__prise-agreement-content__buttons
            %a.pull-left.btn.white_el.js-show-bolgary{href: 'javascript:void(0);', onclick: 'show_bolgary();'}
              Да, хочу
            %a.pull-left.btn.yellow-el.big_button.js-hide-bolgary{href: 'javascript:void(0);', onclick: 'hide_bolgary();'}
              Нет
            %input#bolgary{name: 'participant[bolgary][]', value: @params[:bolgary], type: :hidden }

    .anketa_form.yellow_anketa{ class: ((@params[:bolgary] && @params[:bolgary] == 'участвую') ? 'shown_anket' : nil) }
      .input.participant_hotel{class: (@messages.present? && @messages[:participant_hotel]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Если Вы выиграете главный приз, то в каком из двух комплексов хотели бы остановиться?
        .col-md-6
          %input#hotel1.custome_checkbox{name: 'participant[hotel][]', type: 'checkbox', value: 'Sunny Seasons', checked: (@params[:hotel].to_s.include?('Sunny Seasons') ? 'checked' : nil) }
          %label.checkbox{for: 'hotel1'}
            Sunny Seasons -
            %a{href: 'http://www.rud-byala.com/ru/complexes/sunny-seasons/ss-4/', target: '_blank'}
              подробнее
          %input#hotel2.custome_checkbox{name: 'participant[hotel][]', type: 'checkbox', value: 'Lucky Seasons', checked: (@params[:hotel].to_s.include?('Lucky Seasons') ? 'checked' : nil) }
          %label.checkbox{for: 'hotel2'}
            Lucky Seasons -
            %a{href: 'http://www.rud-byala.com/ru/complexes/lucky-seasons/', target: '_blank'}
              подробнее

      .input.participant_company{class: (@messages.present? && @messages[:participant_company]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Если Вы выиграете главный приз, то кого возьмете с собой (приз рассчитан на 4 человек)?
        .col-md-6
          %input#company1.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Девушку/Молодого человека/Друзей', checked: (@params[:company].to_s.include?('Девушку/Молодого человека/Друзей') ? 'checked' : nil) }
          %label.checkbox{for: 'company1'}
            Девушку/Молодого человека/Друзей
          %input#company2.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Супруга/супругу', checked: (@params[:company].to_s.include?('Супруга/супругу') ? 'checked' : nil) }
          %label.checkbox{for: 'company2'}
            Супруга/супругу
          %input#company3.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Детей', checked: (@params[:company].to_s.include?('Детей') ? 'checked' : nil) }
          %label.checkbox{for: 'company3'}
            Детей
          %input#company4.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Родителей', checked: (@params[:company].to_s.include?('Родителей') ? 'checked' : nil) }
          %label.checkbox{for: 'company4'}
            Родителей

      .input.participant_trip_time{class: (@messages.present? && @messages[:participant_trip_time]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Если Вы выиграете главный приз, то в какое время Вы поедите?
        .col-md-6
          %input#trip_time1.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина июня', checked: (@params[:trip_time].to_s.include?('Первая половина июня') ? 'checked' : nil) }
          %label.checkbox{for: 'trip_time1'}
            Первая половина июня
          %input#trip_time2.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Вторая половина июня', checked: (@params[:trip_time].to_s.include?('Вторая половина июня') ? 'checked' : nil) }
          %label.checkbox{for: 'trip_time2'}
            Вторая половина июня
          %input#trip_time3.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина июля', checked: (@params[:trip_time].to_s.include?('Первая половина июля') ? 'checked' : nil) }
          %label.checkbox{for: 'trip_time3'}
            Первая половина июля
          %input#trip_time4.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Вторая половина июля', checked: (@params[:trip_time].to_s.include?('Вторая половина июля') ? 'checked' : nil) }
          %label.checkbox{for: 'trip_time4'}
            Вторая половина июля
          %input#trip_time5.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина августа', checked: (@params[:trip_time].to_s.include?('Первая половина августа') ? 'checked' : nil) }
          %label.checkbox{for: 'trip_time5'}
            Первая половина августа
          %input#trip_time6.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Вторая половина августа', checked: (@params[:trip_time].to_s.include?('Вторая половина августа') ? 'checked' : nil) }
          %label.checkbox{for: 'trip_time6'}
            Вторая половина августа
          %input#trip_time7.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина сентября', checked: (@params[:trip_time].to_s.include?('Первая половина сентября') ? 'checked' : nil) }
          %label.checkbox{for: 'trip_time7'}
            Первая половина сентября

      .input.participant_frequency{class: (@messages.present? && @messages[:participant_frequency]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Как часто Вы и/или члены Вашей семьи отдыхаете на море?
        .col-md-6
          %input#frequency1.custome_checkbox{name: 'participant[frequency][]', type: 'radio', value: '1 раз в 2 года и реже', checked: (@params[:frequency].to_s.include?('1 раз в 2 года и реже') ? 'checked' : nil) }
          %label.checkbox{for: 'frequency1'}
            1 раз в 2 года и реже
          %input#frequency2.custome_checkbox{name: 'participant[frequency][]', type: 'radio', value: '1 раз в год', checked: (@params[:frequency].to_s.include?('1 раз в год') ? 'checked' : nil) }
          %label.checkbox{for: 'frequency2'}
            1 раз в год
          %input#frequency3.custome_checkbox{name: 'participant[frequency][]', type: 'radio', value: '2 раза в год', checked: (@params[:frequency].to_s.include?('2 раза в год') ? 'checked' : nil) }
          %label.checkbox{for: 'frequency3'}
            2 раза в год
          %input#frequency4.custome_checkbox{name: 'participant[frequency][]', type: 'radio', value: 'Более 2 раз в год', checked: (@params[:frequency].to_s.include?('Более 2 раз в год') ? 'checked' : nil) }
          %label.checkbox{for: 'frequency4'}
            Более 2 раз в год

      .input.participant_summer_holiday{class: (@messages.present? && @messages[:participant_summer_holiday]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Планировали ли Вы уже отдых свой летний отдых, и если да, то куда?
        .col-md-6
          %input#summer_holiday1.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Не планировал', checked: (@params[:summer_holiday].to_s.include?('Не планировал') ? 'checked' : nil) }
          %label.checkbox{for: 'summer_holiday1'}
            Не планировал
          %input#summer_holiday2.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Планировал за границу', checked: (@params[:summer_holiday].to_s.include?('Планировал за границу') ? 'checked' : nil) }
          %label.checkbox{for: 'summer_holiday2'}
            Планировал за границу
          %input#summer_holiday3.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Планировал в Болгарию', checked: (@params[:summer_holiday].to_s.include?('Планировал в Болгарию') ? 'checked' : nil) }
          %label.checkbox{for: 'summer_holiday3'}
            Планировал в Болгарию
          %input#summer_holiday4.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Планировал в Россию', checked: (@params[:summer_holiday].to_s.include?('Планировал в Россию') ? 'checked' : nil) }
          %label.checkbox{for: 'summer_holiday4'}
            Планировал в Россию

      .input.participant_attitude{class: (@messages.present? && @messages[:participant_attitude]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Оцените по 5-ти бальной шкале Ваше впечатление о Болгарии
        .col-md-6
          %input#attitude6.custome_checkbox{name: 'participant[attitude][]', type: 'radio', value: 'не был в Болгарии ни разу', checked: (@params[:attitude].to_s.include?('не был в Болгарии ни разу') ? 'checked' : nil) }
          %label.checkbox{for: 'attitude6'}
            не был в Болгарии ни разу
          %input#attitude1.custome_checkbox{name: 'participant[attitude][]', type: 'radio', value: '1', checked: (@params[:attitude].to_s.include?('1') ? 'checked' : nil) }
          %label.checkbox{for: 'attitude1'}
            1
          %input#attitude2.custome_checkbox{name: 'participant[attitude][]', type: 'radio', value: '2', checked: (@params[:attitude].to_s.include?('2') ? 'checked' : nil) }
          %label.checkbox{for: 'attitude2'}
            2
          %input#attitude3.custome_checkbox{name: 'participant[attitude][]', type: 'radio', value: '3', checked: (@params[:attitude].to_s.include?('3') ? 'checked' : nil) }
          %label.checkbox{for: 'attitude3'}
            3
          %input#attitude4.custome_checkbox{name: 'participant[attitude][]', type: 'radio', value: '4', checked: (@params[:attitude].to_s.include?('4') ? 'checked' : nil) }
          %label.checkbox{for: 'attitude4'}
            4
          %input#attitude5.custome_checkbox{name: 'participant[attitude][]', type: 'radio', value: '5', checked: (@params[:attitude].to_s.include?('5') ? 'checked' : nil) }
          %label.checkbox{for: 'attitude5'}
            5

      .input.participant_abroad_apartment{class: (@messages.present? && @messages[:participant_abroad_apartment]) ? 'error_field' : '' }
        .col-md-6
          %label.control-label.anketa_form__label
            Задумывались ли Вы о покупке недвижимости за рубежом
        .col-md-6
          %input#abroad_apartment1.custome_checkbox{name: 'participant[abroad_apartment][]', type: 'checkbox', value: 'Да, для отдыха', checked: (@params[:abroad_apartment].to_s.include?('Да, для отдыха') ? 'checked' : nil) }
          %label.checkbox{for: 'abroad_apartment1'}
            Да, для отдыха
          %input#abroad_apartment2.custome_checkbox{name: 'participant[abroad_apartment][]', type: 'checkbox', value: 'Да, для инвестиций', checked: (@params[:abroad_apartment].to_s.include?('Да, для инвестиций') ? 'checked' : nil) }
          %label.checkbox{for: 'abroad_apartment2'}
            Да, для инвестиций
          %input#abroad_apartment3.custome_checkbox{name: 'participant[abroad_apartment][]', type: 'checkbox', value: 'Нет, не думал об этом', checked: (@params[:abroad_apartment].to_s.include?('Нет, не думал об этом') ? 'checked' : nil) }
          %label.checkbox{for: 'abroad_apartment3'}
            Нет, не думал об этом

    .anketa_submit_button
      = f.button :submit, 'Принять участие', class: 'btn red_button'
