.new_participant
  = simple_form_for @participant do |f|
    .col-md-12
      .styled_input
        %span.glyphicon.glyphicon-user
        = f.input :surname, placeholder: 'Фамилия', label: false
      .styled_input
        %span.glyphicon.glyphicon-user
        = f.input :name, placeholder: 'Имя', label: false
      .styled_input
        %span.glyphicon.glyphicon-user
        = f.input :thirdname, placeholder: 'Отчество', label: false
      .styled_input
        %span.glyphicon.glyphicon-envelope
        = f.input :email, placeholder: 'E-mail', label: false
      .styled_input
        %span.glyphicon.glyphicon-earphone
        = f.input :phone, placeholder: 'Телефон', label: false
      .form-group.text-center
        = f.input :birthday, label: 'Дата рождения:', order: [:day, :month, :year], start_year: Date.today.year - 90, end_year: Date.today.year - 17, input_html: {class: 'form-control'}
    .anketa_form
      .input.participant_drinking_place
        .col-md-6
          %label.control-label.anketa_form__label
            Где вы пьете нашу воду?
        .col-md-6
          %input#drinking1.custome_checkbox{name: 'participant[drinking_place][]', type: 'checkbox', value: 'Заказываю домой', checked: (params[:home].present? ? 'checked' : nil) }
          %label.checkbox{for: 'drinking1'}
            Заказываю домой
          %input#drinking2.custome_checkbox{name: 'participant[drinking_place][]', type: 'checkbox', value: 'Покупаю в магазине', checked: (params[:shop].present? ? 'checked' : nil) }
          %label.checkbox{for: 'drinking2'}
            Покупаю в магазине
          %input#drinking3.custome_checkbox{name: 'participant[drinking_place][]', type: 'checkbox', value: 'Пью в офисе', checked: (params[:office].present? ? 'checked' : nil) }
          %label.checkbox{for: 'drinking3'}
            Пью в офисе

      .input.participant_source_info
        .col-md-6
          %label.control-label.anketa_form__label
            Откуда Вы узнали о нашей компании?
        .col-md-6
          %input#info1.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'Интернет'}
          %label.checkbox{for: 'info1'}
            Интернет
          %input#info2.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'Рекомендации друзей'}
          %label.checkbox{for: 'info2'}
            Рекомендации друзей
          %input#info3.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'увидел в магазине'}
          %label.checkbox{for: 'info3'}
            Увидел в магазине
          %input#info4.custome_checkbox{name: 'participant[source_info][]', type: 'checkbox', value: 'увидел машину с логотипом компании'}
          %label.checkbox{for: 'info4'}
            Увидел машине с логотипом компании
          %input.with_black_border{name: 'participant[source_info][]', placeholder: 'Другое...'}

      .input.participant_time_using
        .col-md-6
          %label.control-label.anketa_form__label
            Сколько времени вы являетесь нашим клиентом?
        .col-md-6
          %input#time_using1.custome_checkbox{name: 'participant[time_using][]', type: 'checkbox', value: 'Когда узнал об акции'}
          %label.checkbox{for: 'time_using1'}
            Когда узнал об акции
          %input#time_using2.custome_checkbox{name: 'participant[time_using][]', type: 'checkbox', value: 'Менее полугода'}
          %label.checkbox{for: 'time_using2'}
            Менее полугода
          %input#time_using3.custome_checkbox{name: 'participant[time_using][]', type: 'checkbox', value: 'От полугода до года'}
          %label.checkbox{for: 'time_using3'}
            От полугода до года
          %input#time_using4.custome_checkbox{name: 'participant[time_using][]', type: 'checkbox', value: 'Более года'}
          %label.checkbox{for: 'time_using4'}
            Более года
          %input#time_using5.custome_checkbox{name: 'participant[time_using][]', type: 'checkbox', value: 'Более 2х лет'}
          %label.checkbox{for: 'time_using5'}
            Более 2х лет

      .input.participant_important_thing
        .col-md-6
          %label.control-label.anketa_form__label
            Что для Вас важно при выборе воды?
        .col-md-6
          %input#important_thing1.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Цена'}
          %label.checkbox{for: 'important_thing1'}
            Цена
          %input#important_thing2.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Качество'}
          %label.checkbox{for: 'important_thing2'}
            Качество
          %input#important_thing3.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Вкус'}
          %label.checkbox{for: 'important_thing3'}
            Вкус
          %input#important_thing4.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Время доставки'}
          %label.checkbox{for: 'important_thing4'}
            Время доставки
          %input#important_thing5.custome_checkbox{name: 'participant[important_thing][]', type: 'checkbox', value: 'Уровень сервиса'}
          %label.checkbox{for: 'important_thing5'}
            Уровень сервиса
          %input.with_black_border{name: 'participant[important_thing][]', placeholder: 'Другое...'}

      .input.participant_accessories
        .col-md-6
          %label.control-label.anketa_form__label
            Что бы Вам хотелось заказывать вместе с водой?
        .col-md-6
          %input#accessories1.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Все для чая и кофе'}
          %label.checkbox{for: 'accessories1'}
            Все для чая и кофе
          %input#accessories2.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Доставка еды из ресторанов'}
          %label.checkbox{for: 'accessories2'}
            Доставка еды из ресторанов
          %input#accessories3.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Доставка продуктов питания из магазинов'}
          %label.checkbox{for: 'accessories3'}
            Доставка продуктов питания из магазинов
          %input#accessories4.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Хоз. Товары, концелярия и др.'}
          %label.checkbox{for: 'accessories4'}
            Хоз. Товары, концелярия и др.
          %input#accessories5.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Детское питание'}
          %label.checkbox{for: 'accessories5'}
            Детское питание
          %input#accessories6.custome_checkbox{name: 'participant[accessories][]', type: 'checkbox', value: 'Корма для животных'}
          %label.checkbox{for: 'accessories6'}
            Корма для животных
          %input.with_black_border{name: 'participant[accessories][]', placeholder: 'Другое...'}

      .input.participant_improvements
        .col-md-6
          %label.control-label.anketa_form__label
            Что бы вы хотели, чтобы мы улучшили в нашем сервисе?
        .col-md-6
          %input#improvements1.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'Время доставки'}
          %label.checkbox{for: 'improvements1'}
            Время доставки
          %input#improvements2.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'Удобство заказа'}
          %label.checkbox{for: 'improvements2'}
            Удобство заказа
          %input#improvements3.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'Качество работы отдела продаж'}
          %label.checkbox{for: 'improvements3'}
            Качество работы отдела продаж
          %input#improvements4.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'Удобство заказа по телефону'}
          %label.checkbox{for: 'improvements4'}
            Удобство заказа по телефону
          %input#improvements5.custome_checkbox{name: 'participant[improvements][]', type: 'checkbox', value: 'Новые формы оплаты, в т.ч. кредитные карты'}
          %label.checkbox{for: 'improvements5'}
            Новые формы оплаты, в т.ч. кредитные карты

      .clearfix
      .anketa_form__prise-agreement
        .anketa_form__prise-agreement-content
          .anketa_form__prise-agreement-content__text
            Суперприз - поездка на море с семьей в Болгарию!
          .anketa_form__prise-agreement-content__question
            Хотели бы вы принять участие в розыгрыше главного приза?
          .anketa_form__prise-agreement-content__buttons
            %a.pull-left.btn.white_el.js-show-bolgary{href: 'javascript:void(0);', onclick: 'show_bolgary();'}
              Да, хочу
            %a.pull-left.btn.yellow-el.big_button.js-hide-bolgary{href: 'javascript:void(0);', onclick: 'hide_bolgary();'}
              Нет

    .anketa_form.yellow_anketa
      .input.participant_hotel
        .col-md-6
          %label.control-label.anketa_form__label
            Если вы выиграете главный приз, то в каком из двух комплексов хотели бы остановиться?
        .col-md-6
          %input#hotel1.custome_checkbox{name: 'participant[hotel][]', type: 'checkbox', value: 'Sunny Seasons'}
          %label.checkbox{for: 'hotel1'}
            %a{href: '#'}
              Sunny Seasons
          %input#hotel2.custome_checkbox{name: 'participant[hotel][]', type: 'checkbox', value: 'Lucky Seasons'}
          %label.checkbox{for: 'hotel2'}
            %a{href: '#'}
              Lucky Seasons

      .input.participant_company
        .col-md-6
          %label.control-label.anketa_form__label
            Если в выиграете главный приз, то кого возьмете с собой (приз рассчитан на 4 человек)?
        .col-md-6
          %input#company1.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Девушку/Молодого человека/Друзей'}
          %label.checkbox{for: 'company1'}
            Девушку/Молодого человека/Друзей
          %input#company2.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Супруга/супругу'}
          %label.checkbox{for: 'company2'}
            Супруга/супругу
          %input#company3.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Детей'}
          %label.checkbox{for: 'company3'}
            Детей
          %input#company4.custome_checkbox{name: 'participant[company][]', type: 'checkbox', value: 'Родителей'}
          %label.checkbox{for: 'company4'}
            Родителей

      .input.participant_trip_time
        .col-md-6
          %label.control-label.anketa_form__label
            Если вы выиграете главный приз, то в какое время вы поедите?
        .col-md-6
          %input#trip_time1.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина июня'}
          %label.checkbox{for: 'trip_time1'}
            Первая половина июня
          %input#trip_time2.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Вторая половина июня'}
          %label.checkbox{for: 'trip_time2'}
            Вторая половина июня
          %input#trip_time3.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина июля'}
          %label.checkbox{for: 'trip_time3'}
            Первая половина июля
          %input#trip_time4.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Вторая половина июля'}
          %label.checkbox{for: 'trip_time4'}
            Вторая половина июля
          %input#trip_time5.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина августа'}
          %label.checkbox{for: 'trip_time5'}
            Первая половина августа
          %input#trip_time6.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Вторая половина августа'}
          %label.checkbox{for: 'trip_time6'}
            Вторая половина августа
          %input#trip_time7.custome_checkbox{name: 'participant[trip_time][]', type: 'checkbox', value: 'Первая половина сентября'}
          %label.checkbox{for: 'trip_time7'}
            Первая половина сентября

      .input.participant_frequency
        .col-md-6
          %label.control-label.anketa_form__label
            Как часто вы и/или члены вашей семьи отдыхаете на море?
        .col-md-6
          %input#frequency1.custome_checkbox{name: 'participant[frequency][]', type: 'checkbox', value: '1 раз в 2 года и реже'}
          %label.checkbox{for: 'frequency1'}
            1 раз в 2 года и реже
          %input#frequency2.custome_checkbox{name: 'participant[frequency][]', type: 'checkbox', value: '1 раз в год'}
          %label.checkbox{for: 'frequency2'}
            1 раз в год
          %input#frequency3.custome_checkbox{name: 'participant[frequency][]', type: 'checkbox', value: '2 раза в год'}
          %label.checkbox{for: 'frequency3'}
            2 раза в год
          %input#frequency4.custome_checkbox{name: 'participant[frequency][]', type: 'checkbox', value: 'Более 2 раз в год'}
          %label.checkbox{for: 'frequency4'}
            Более 2 раз в год

      .input.participant_summer_holiday
        .col-md-6
          %label.control-label.anketa_form__label
            Планировали ли вы уже отдых свой летний отдых, и если да, то куда?
        .col-md-6
          %input#summer_holiday1.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Не планировал'}
          %label.checkbox{for: 'summer_holiday1'}
            Не планировал
          %input#summer_holiday2.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Планировал за границу'}
          %label.checkbox{for: 'summer_holiday2'}
            Планировал за границу
          %input#summer_holiday3.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Планировал в Болгарию'}
          %label.checkbox{for: 'summer_holiday3'}
            Планировал в Болгарию
          %input#summer_holiday4.custome_checkbox{name: 'participant[summer_holiday][]', type: 'checkbox', value: 'Планировал в Россию'}
          %label.checkbox{for: 'summer_holiday4'}
            Планировал в Россию

      .input.participant_summer_attitude
        .col-md-6
          %label.control-label.anketa_form__label
            Были ли вы уже в Болгарии и если да, то какое у вас впечатление от страны / если нет, то какое к ней отношение?
        .col-md-6
          %input#attitude1.custome_checkbox{name: 'participant[attitude][]', type: 'checkbox', value: '1'}
          %label.checkbox{for: 'attitude1'}
            1
          %input#attitude2.custome_checkbox{name: 'participant[attitude][]', type: 'checkbox', value: '2'}
          %label.checkbox{for: 'attitude2'}
            2
          %input#attitude3.custome_checkbox{name: 'participant[attitude][]', type: 'checkbox', value: '3'}
          %label.checkbox{for: 'attitude3'}
            3
          %input#attitude4.custome_checkbox{name: 'participant[attitude][]', type: 'checkbox', value: '4'}
          %label.checkbox{for: 'attitude4'}
            4
          %input#attitude5.custome_checkbox{name: 'participant[attitude][]', type: 'checkbox', value: '5'}
          %label.checkbox{for: 'attitude5'}
            5

      .input.participant_summer_abroad_apartment
        .col-md-6
          %label.control-label.anketa_form__label
            Планировали ли вы уже отдых свой летний отдых, и если да, то куда?
        .col-md-6
          %input#abroad_apartment1.custome_checkbox{name: 'participant[abroad_apartment][]', type: 'checkbox', value: 'Да, для отдыха'}
          %label.checkbox{for: 'abroad_apartment1'}
            Да, для отдыха
          %input#abroad_apartment2.custome_checkbox{name: 'participant[abroad_apartment][]', type: 'checkbox', value: 'Да, для инвестиций'}
          %label.checkbox{for: 'abroad_apartment2'}
            Да, для инвестиций
          %input#abroad_apartment3.custome_checkbox{name: 'participant[abroad_apartment][]', type: 'checkbox', value: 'Нет, не думал об этом'}
          %label.checkbox{for: 'abroad_apartment3'}
            Нет, не думал об этом
    .anketa_submit_button
      = f.button :submit, 'Принять участие', class: 'btn red_button'
