!!!
%html
  %head
    %title
      Прима-Аква - Акция | Prima-aqua
    %meta{content: 'Прима-Аква - Акция, prima-aqua', name: 'description'}
    %meta{content: 'Прима-Аква, Акция', name: 'keywords'}
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .main_container
      .main_content-header
        .main_content-header__logo.pull-left
          %a{href: '/'}
            =image_tag 'logo.png'
        .main_content-header__content.pull-right
          %a.main_content-header__content-button.pull-right.btn.yellow-el{href: '/participants/new'}
            ПРИНЯТЬ УЧАСТИЕ В АКЦИИ
          .main_content-header__content-contacts.menu-white.pull-right
            .main_content-header__content-contacts-city
              Санкт-Петербург
            .main_content-header__content-contacts-phone
              %span.glyphicon.glyphicon-earphone
              (812) 335-40-80
          .clearfix
          - if @pages_all.present?
            .main_content-header__menu
              %a.main_content-header__menu-link.menu-white{href: url_for(@pages_all.first) }
                = @pages_all.first.title
              %a.main_content-header__menu-link.menu-white{href: '/questions'}
                Вопросы
              - @pages_all.last(@pages_all.size-1).each do |page|
                %a.main_content-header__menu-link.menu-white{href: url_for(page) }
                  = page.title

      .main_content-body
        .main_content-body__gifts
          .main_content-body__gifts-airplain
            = image_tag 'airplane.png'
          .main_content-body__gifts-coffe
            = image_tag 'cofe_machine.png'
          .main_content-body__gifts-velo
            = image_tag 'velo.png'
          .main_content-body__gifts-notebook
            = image_tag 'notebook.png'
          .main_content-body__gifts-info.menu-white
            .main_content-body__gifts-info-dates
              Сроки проведения акции с 1 марта по 30 апреля.
            .main_content-body__gifts-info-action
              Розыгрыш призов - 5 мая.
        .main_content-body__conditions
          Для участия в акции выберите один из вариантов:
      .main_content-cases
        .main_content-cases__arrow
          = image_tag 'arrow.png'
        .main_content-cases__body.row
          .main_content-cases__body_home.col-md-4
            .one_case
              .one_case__title
                Я заказываю воду
                %br
                6-19л. на дом
              .one_case__gift_first-part
                = image_tag 'air_machine.png'
                .one_case__gift_first-part_name
                  Очиститель воздуха
              .one_case__gift_second-part
                50 наборов
                %br
                по 10 х 19л. воды
              .one_case__gift_third-part
                100 наборов
                %br
                по 12 х 0,6л. воды
              %a.one_case__gift_red_button.btn{href: '/participants/new?home=true'}
                Выбрать
          .main_content-cases__body_office.col-md-4
            .one_case
              .one_case__title
                Я пью воду
                %br
                19л. в офисе
              .one_case__gift_first-part
                = image_tag 'cofe_present.png'
                .one_case__gift_first-part_name
                  Кофемашина
              .one_case__gift_second-part
                50 сертификатов
                %br
                на покупку товаров
                %br
                в нашем
                = link_to 'интернет магазине', 'http://td-voda.ru', target: '_blank'
              .one_case__gift_third-part
                100 наборов
                %br
                по 12 х 0,6л. воды
              %a.one_case__gift_red_button.btn{href: '/participants/new?office=true'}
                Выбрать
          .main_content-cases__body_shop.col-md-4
            .one_case
              .one_case__title
                Я покупаю воду 6-8л.
                %br
                в магазинах
              .one_case__gift_first-part
                = image_tag 'velo_present.png'
                .one_case__gift_first-part_name
                  Велосипед
              .one_case__gift_second-part
                50 сумок-холодильников
              .one_case__gift_third-part
                100 наборов
                %br
                по 12 х 0,6л. воды
              %a.one_case__gift_red_button.btn{href: '/participants/new?shop=true'}
                Выбрать
      .main_content-footer
        .main_content-footer__gift-text
          .main_content-footer__gift-text_label
            Суперприз
          .main_content-footer__gift-text_content
            Поездка на море с семьей в Болгарию!
        .main_content-footer__text
          Акция для жителей Санкт-Петербурга
        .main_content-footer__rights
          &copy; #{Time.zone.now.year}. ООО «Лидер-Аква» производство и доставка питьевой артезианской воды.

<!-- Yandex.Metrika informer —>
<a href="https://metrika.yandex.ru/stat/?id=24132910&amp;f.."
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24132910/3_1_FFFFFFFF_EFEFEFFF_.."
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:24132910,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer —>

<!-- Yandex.Metrika counter —>
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter24132910 = new Ya.Metrika({id:24132910,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24132910" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter —>
